{% extends "base.html" %} {% block title %} Blog {% endblock %} {% block content %}

<p class="flow-text">
  <div class="container">
  <div class="scroll">
    <div class="flex-center">
      <div class="card m-5">
        <div class="view overlay hm-white-slight">
          <div class="mask"></div>
        </div>

        </div>
        <div class="card-body" style="background-color: #FFFEFF; color: #000300">
          <div class="card-image m-5 center">
            <br>
            <img src="https://i.vimeocdn.com/video/719330767_780x439.jpg">
          </div>
          <p class="card-footer:last-child center" style="font-size: 14px">
            <span class="card-title">The Altamont School</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<center><a href="https://www.altamontschool.org/"><button class="btn btn-large yellow"></i>The Altamont School Website</button></a><center>

<h1>Welcome to the Index Page - 'index.html'</h1>

{% endblock %}
