{% extends "base.html" %} {% block title %} Blog {% endblock %} {% block content %}
<h1>Mr. Ballard</h1>



      <div class="row">
        <div class="col s5 offset-s3">
          <div class="card">
            <div class="card-image center">
              <img src="/static/Ballard_Robbie.jpg" alt="Mr. Ballard">
              <span class="card-title">Mr. Ballard</span>
            </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col s5 offset-s3">
      <div class="card">
        <div class="card-image center">
          <p class="card-footer:last-child center" style="font size: 14px">
            Mr. Ballard teaches:
            <li>5th/6th American History</li>

          </div>
        </div>

      </div>
    </div>

  <div class="row">
    <div class="col s5 offset-s3">
      <div class="card">
        <div class="card-image center">
          <p class="card-footer:last-child center" style="font size: 14px">
            Brief Q&A:
            <br>
              Q: What is one thing that surprised you about teaching?
              <br>
              A: How much I enjoy it. Growing up, I never saw myself as a teacher. I kind of fell into the job when I was in my young 20’s. I have enjoyed every moment of it ever since. Connecting with students, having discussions with young people about important topics, and watching as their minds and abilities to understand and reason grow is one of the true joys of my life. I have my dream job.
              <br>
            Q: What is your favorite thing to do when you're not teaching?
            <br>
            A: When not teaching, I love playing with my dog (taking her on walks, watching her roll around in tall grass [rolling in tall grass is her own personal hobby], and playing fetch with her. I also love reading about history and expanding my own knowledge so I can share what I learn.
          </div>
        </div>

      </div>
    </div>

{% endblock %}
