{% extends "base.html" %} {% block title %} Blog {% endblock %} {% block content %}

<h1>Mrs. Gillespie</h1>


  <div class="row">
    <div class="col s5 offset-s3">
      <div class="card">
        <div class="card-image center">
          <img src="/static/Gillespie_Casey.jpg" alt="Mrs. Gillespie">
          <span class="card-title">Mrs. Gillespie</span>
        </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s5 offset-s3">
      <div class="card">
        <div class="card-image center">
          <p class="card-footer:last-child center" style="font size: 14px">
            Mrs. Gillespie teaches many courses including:
            <li>5th and 6th grade art elective</li>
            <li>7th and 8th grade art</li>
            <li>Painting</li>
            <li>Drawing</li>
            <li>3D Design</li>
          </div>
        </div>

      </div>
    </div>

  <div class="row">
    <div class="col s5 offset-s3">
      <div class="card">
        <div class="card-image center">
          <p class="card-footer:last-child center" style="font size: 14px">
            Brief Q&A:
            <br>
              Q: What is one thing that surprised you about teaching?
              <br>
              A: I was surprised at how my passion creating art so easily translated into teaching students.  I have also been surprised at how many former students have continued with art instruction after taking my class.
              <br>
            Q: What is your favorite thing to do when you're not teaching?
            <br>
            A: I am an artist and love experimenting with different mediums and learning new things. This obviously goes well with being an art teacher, which allows me to teach others what I learn.
          </div>
        </div>

      </div>
    </div>

{% endblock %}
