{% extends "base.html" %} {% block title %} Blog {% endblock %} {% block content %}

<p class="flow-text">
  <div class="container">
  <div class="scroll">
    <div class="flex-center">






  <div class="row">
    <div class="col s10 offset-s1">
      <div class="card">
        <div class="card-image center">
          <img src="/static/altamont.jpg" alt="The Altamont School">
          <span class="card-title">The Altamont School</span>
        </div>
        </div>
      </div>
    </div>
  </div>

<div class="row">
  <div class="card-body" style="background-color: #548687;"
  <div class="col s5 offset-s3">
    <div class="card">
        <p class="card-footer:last-child center" style="font size: 14px">
          Welcome to the homepage! This is my Web Design Project. For my Web Design Project, I designed a website starring five teachers. On the index, or home page, you can find a link to my school, The Altamont School. On the nav bar, you can click links to find out fun facts about five of some of Altamont's best teachers.
        </p>
        </div>
      </div>

    </div>
  </div>


<center><a href="https://www.altamontschool.org/"><button class="btn btn-large red">The Altamont School</button></a><center>

<h1></h1>

{% endblock %}
