{% extends "base.html" %} {% block title %} Blog {% endblock %} {% block content %}
<h1> Mr. Rogan </h1>



  <div class="row">
    <div class="col s5 offset-s3">
      <div class="card">
        <div class="card-image center">
          <img src="/static/Rogan_Landon.jpg" alt="Mr. Rogan">
          <span class="card-title">Mr. Rogan</span>
        </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s5 offset-s3">
      <div class="card">
        <div class="card-image center">
          <p class="card-footer:last-child center" style="font size: 14px">
            Mr. Rogan teaches many courses including:
            <li>5th/6th Music Appreciation</li>
            <li>7th/8th Wind Band</li>
            <li>7th/8th Jazz Band</li>
            <li>7th/8th Music Ensemble</li>
            <li>Upper School Orchestra</li>
            <li>Upper School Jazz Band</li>
            <li>Music Technology and Composition</li>
          </div>
        </div>

      </div>
    </div>

  <div class="row">
    <div class="col s5 offset-s3">
      <div class="card">
        <div class="card-image center">
          <p class="card-footer:last-child center" style="font size: 14px">
            Brief Q&A:
            <br>
              Q: What is one thing that surprised you about teaching?
              <br>
              A: When I was in graduate school, I was sure that I only wanted to teach Percussion to high school students. What surprised me is how quickly I grew to love teaching younger students and how much I’ve enjoyed teaching Orchestra.
              <br>
            Q: What is your favorite thing to do when you're not teaching?
            <br>
            A: If I have to pick just one, it would be woodworking. It’s the perfect balance of math, creativity, intuition, and physical ability. I was horrible when I started, but I kept practicing and now I’m pretty good at it. It’s also something I can go to if I’ve had a bad day or if I’m feeling really anxious about something.
          </div>
        </div>

      </div>
    </div>


{% endblock %}
