{% extends "base.html" %} {% block title %} Blog {% endblock %} {% block content %}


<h1>Mr. Rosborough</h1>



  <div class="row">
    <div class="col s5 offset-s3">
      <div class="card">
        <div class="card-image center">
          <img src="/static/Rosborough_Peter.jpg" alt="Mr. Rosborough">
          <span class="card-title">Mr. Rosborough</span>
        </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s5 offset-s3">
      <div class="card">
        <div class="card-image center">
          <p class="card-footer:last-child center" style="font size: 14px">
            Mr. Rosborough teaches many courses including:
            <li>French II</li>
            <li>French V</li>
            <li>French VII</li>
          </div>
        </div>

      </div>
    </div>

                  </div>
                </div>

              <div class="row">
                <div class="col s5 offset-s3">
                  <div class="card">
                    <div class="card-image center">
                      <p class="card-footer:last-child center" style="font size: 14px">
                        Brief Q&A:
                        <br>
                          Q: What is one thing that surprised you about teaching?
                          <br>
                          A: That it is a lot of work!
                          <br>
                          Q: What is your favorite thing to do when you're not teaching?
                        <br>
                          A: I like to play the piano, do crosswords with my mother, and play with my children.
                      </div>
                    </div>

                  </div>
                </div>


{% endblock %}
